@model FrontendBmxAspMVC.Models.Bike

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grips)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cranks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cranks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sprocket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sprocket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontWheel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontWheel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RearWheel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RearWheel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontTire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontTire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RearTire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RearTire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontHub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontHub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RearHub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RearHub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pegs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pegs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
